@keyframes flyIn {
  from {
    transform: translateX(-2.5vw);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes floating {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  to {
    transform: translateY(0); } }

/* line 42, app/portfolio/static/styles/about.scss */
.floatingImageContainer {
  margin-top: 75px;
  display: flex;
  justify-content: center; }

/* line 48, app/portfolio/static/styles/about.scss */
.floatingContainer {
  position: relative;
  height: 300px;
  width: 220px;
  margin-right: 90px; }

/* line 55, app/portfolio/static/styles/about.scss */
.floatingLayerZero {
  position: absolute !important;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  margin: 0px;
  z-index: 1;
  animation: floating 2s ease-in-out 1s infinite, flyIn 1s ease-in-out 0s 1; }

/* line 62, app/portfolio/static/styles/about.scss */
.floatingLayerOne {
  position: absolute !important;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  margin: 15px;
  z-index: 2;
  animation: floating 2s ease-in-out 1.5s infinite, flyIn 1s ease-in-out 0.5s 1; }

/* line 69, app/portfolio/static/styles/about.scss */
.floatingLayerTwo {
  position: absolute !important;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  margin: 30px;
  z-index: 3;
  animation: floating 2s ease-in-out 2s infinite, flyIn 1s ease-in-out 1s 1; }

/* line 76, app/portfolio/static/styles/about.scss */
.floatingLayerImage {
  position: absolute !important;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  margin: 45px;
  z-index: 4;
  animation: floating 2s ease-in-out 2.5s infinite, flyIn 1s ease-in-out 1.5s 1; }

/* line 83, app/portfolio/static/styles/about.scss */
.aboutTextContainer {
  margin: auto;
  padding: 40px 20px;
  display: flex;
  max-width: 750px;
  justify-content: center; }

/* line 91, app/portfolio/static/styles/about.scss */
.aboutParagraph {
  text-align: justify; }
