@font-face {
  font-family: "Ubuntu Regular";
  src: url("/static/fonts/Ubuntu-Light.ttf"); }

/* line 13, app/portfolio/static/styles/global.scss */
* {
  background-color: #f4f3ee;
  color: #000000;
  font-family: "Ubuntu Regular", Arial, Helvetica, sans-serif; }

/* line 19, app/portfolio/static/styles/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

/* line 23, app/portfolio/static/styles/global.scss */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

/* line 29, app/portfolio/static/styles/global.scss */
p {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0; }

/* line 35, app/portfolio/static/styles/global.scss */
li {
  font-weight: 100;
  font-size: 1.5em; }

/* line 40, app/portfolio/static/styles/global.scss */
span {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0; }

/* line 48, app/portfolio/static/styles/global.scss */
.pageContainer {
  margin-bottom: 195px; }

/* line 52, app/portfolio/static/styles/global.scss */
.mainWithNav {
  min-height: 100vh;
  position: relative;
  z-index: 1; }

/* line 58, app/portfolio/static/styles/global.scss */
.main {
  padding: 38px 18px;
  margin: auto;
  background-color: transparent;
  position: inherit;
  max-width: 1750px; }

/* line 66, app/portfolio/static/styles/global.scss */
.main * {
  background-color: transparent; }

/* line 70, app/portfolio/static/styles/global.scss */
.title {
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  margin: 25px auto; }

/* line 77, app/portfolio/static/styles/global.scss */
.comingSoon {
  width: min-content; }

/* line 81, app/portfolio/static/styles/global.scss */
.subtitle {
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  margin: 25px auto; }

@media only screen and (max-width: 600px) {
  /* line 91, app/portfolio/static/styles/global.scss */
  .title {
    font-size: 3em; }
  /* line 95, app/portfolio/static/styles/global.scss */
  p {
    font-size: 1.25em; }
  /* line 99, app/portfolio/static/styles/global.scss */
  span {
    font-size: 1.25em; } }
