/* line 3, app/portfolio/static/styles/index.scss */
.name {
  width: min-content; }

/* line 7, app/portfolio/static/styles/index.scss */
.indexImg {
  width: 400px;
  margin: auto;
  display: block !important; }

/* line 13, app/portfolio/static/styles/index.scss */
.sub {
  width: min-content; }

@media only screen and (max-width: 600px) {
  /* line 20, app/portfolio/static/styles/index.scss */
  .indexImg {
    width: 300px; } }
