/* line 5, app/portfolio/static/styles/nav.scss */
a:link, a:visited {
  text-decoration: none;
  color: #aaaaaa; }

/* line 10, app/portfolio/static/styles/nav.scss */
a:active {
  color: #000000; }

/* line 14, app/portfolio/static/styles/nav.scss */
a:hover {
  color: #000000;
  transition: color 0.1s; }

/* line 21, app/portfolio/static/styles/nav.scss */
.nav {
  padding: 38px 18px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: inherit;
  z-index: 10;
  max-width: 1750px;
  margin: auto; }

/* line 32, app/portfolio/static/styles/nav.scss */
.nav * {
  background-color: transparent; }

/* line 36, app/portfolio/static/styles/nav.scss */
.nav > div > h1 {
  margin: auto; }

/* line 40, app/portfolio/static/styles/nav.scss */
.handburgerNav {
  display: none;
  margin: auto 0; }

/* line 45, app/portfolio/static/styles/nav.scss */
.handburgerBun {
  display: flex;
  justify-content: space-between;
  margin: 30px 0; }

/* line 51, app/portfolio/static/styles/nav.scss */
.handburgerBun > h1 {
  margin: auto 10px;
  color: #aaaaaa; }

/* line 56, app/portfolio/static/styles/nav.scss */
.handburgerMeat {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 62, app/portfolio/static/styles/nav.scss */
.handburgerMeat > h1 {
  margin: 5px 0; }

/* line 66, app/portfolio/static/styles/nav.scss */
.handburgerLinks:hover {
  color: #ffffff;
  transition: color 0.1s; }

/* line 71, app/portfolio/static/styles/nav.scss */
.handburgerContent {
  display: none;
  padding: 8px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: calc(100vw - 16px);
  min-height: calc(100vh - 16px + 400px);
  background-color: #101219; }

/* line 84, app/portfolio/static/styles/nav.scss */
.handburgerContent * {
  background-color: #101219; }

/* line 88, app/portfolio/static/styles/nav.scss */
.handburgerOpen {
  margin: auto 10px;
  color: #aaaaaa; }

/* line 93, app/portfolio/static/styles/nav.scss */
.handburgerOpen:active {
  color: #000000; }

/* line 97, app/portfolio/static/styles/nav.scss */
.handburgerOpen:hover {
  color: #000000;
  transition: color 0.1s; }

/* line 102, app/portfolio/static/styles/nav.scss */
.handburgerClose {
  margin: auto 20px !important;
  color: #aaaaaa; }

/* line 107, app/portfolio/static/styles/nav.scss */
.handburgerClose:active {
  color: #ffffff; }

/* line 111, app/portfolio/static/styles/nav.scss */
.handburgerClose:hover {
  color: #ffffff;
  transition: color 0.1s; }

/* line 117, app/portfolio/static/styles/nav.scss */
.rightNav {
  display: flex; }
  /* line 120, app/portfolio/static/styles/nav.scss */
  .rightNav h1 {
    margin: auto 10px !important; }

/* line 125, app/portfolio/static/styles/nav.scss */
.activeLink {
  color: #000000 !important; }

/* line 129, app/portfolio/static/styles/nav.scss */
.handburgerActiveLink {
  color: #ffffff !important; }

/* line 133, app/portfolio/static/styles/nav.scss */
.navItem {
  font-weight: 100;
  font-size: 1.5em; }

@media only screen and (max-width: 600px) {
  /* line 141, app/portfolio/static/styles/nav.scss */
  .handburgerNav {
    display: inherit; }
  /* line 145, app/portfolio/static/styles/nav.scss */
  .rightNav {
    display: none; } }
