/* line 3, app/portfolio/static/styles/projectbrief.scss */
.projectMainLink {
  display: block;
  height: 100%; }

/* line 8, app/portfolio/static/styles/projectbrief.scss */
.projectSubLink {
  display: block;
  height: 48%; }

/* line 13, app/portfolio/static/styles/projectbrief.scss */
.projectDiv {
  height: 100%;
  position: relative; }

/* line 18, app/portfolio/static/styles/projectbrief.scss */
.projectImage {
  display: block;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* line 26, app/portfolio/static/styles/projectbrief.scss */
.imageOverlay {
  position: absolute;
  background-color: #000000 !important;
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 36, app/portfolio/static/styles/projectbrief.scss */
:hover.imageOverlay {
  transition-duration: 0.25s;
  opacity: 0.5; }

/* line 41, app/portfolio/static/styles/projectbrief.scss */
.projectTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  margin: 25px; }

@media only screen and (max-width: 600px) {
  /* line 52, app/portfolio/static/styles/projectbrief.scss */
  .projectMainLink {
    margin: 4% auto; }
  /* line 56, app/portfolio/static/styles/projectbrief.scss */
  .projectSubLink {
    margin: 4% auto; } }
