[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-markdownx = ">=4.0.0b1"
django-compressor = "*"
django-libsass = "*"
markdown = "*"
psycopg2-binary = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
