<footer class="footerContainer">
    <div class="bottomText">
        <div>
            <h1 class="headerText">
                <a href="mailto:mitchell444999@protonmail.com">mitchell444999@protonmail.com</a>
            </h1>
        </div>

        <div class="footerDivider"></div>

        <div>
            <h1 class="headerText">
                <a href="https://gitlab.mitchelltsutsulis.com/MitchellWT">GITLAB</a>
                <span class="lightThin">+</span>
                <a href="https://github.com/MitchellWT">GITHUB</a>
            </h1>
        </div>
    </div>
</footer>
