
// Markdown Styling

.markdownDiv h1 {
    font-size: 4em;
    margin: 0.83em 0;
}

.markdownDiv h2 {
    font-size: 3.5em;
    margin: 0.83em 0;
}

.markdownDiv h3 {
    font-size: 3em;
    margin: 0.83em 0;
}

.markdownDiv h4 {
    font-size: 2.5em;
    margin: 0.83em 0;
}

.markdownDiv h5 {
    font-size: 2em;
    margin: 0.83em 0;
}

.markdownDiv h6 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.markdownDiv p {
    text-align: justify;
    margin: 25px 0;
}

.markdownDiv a {
    color: #000000;
}

.markdownDiv a:hover {
    text-decoration: underline;
}

.markdownDiv img {
    width: 100%;
}

.markdownDiv code {
    font-family: revert;
}

.markdownDiv strong {
    font-weight: bold;
}
