{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/nav.scss' %}" rel="stylesheet"/>
        <link type="text/x-scss" href="{% static 'styles/global.scss' %}" rel="stylesheet"/>
        <link type="text/x-scss" href="{% static 'styles/footer.scss' %}" rel="stylesheet"/>
        {% block extra_css %}{% endblock %}
    {% endcompress %}
</head>
<body>
    <div class="pageContainer">
        <div class="mainWithNav">
            {% include "../components/nav.html" %}

            {% block main %}{% endblock %}
        </div>

        {% include "../components/footer.html" %}
    </div>
    {% compress js %}
        <script src="/static/scripts/nav.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
</body>
</html>
